<div class="bg-color" style="height: 200%">
  <div class="complaint" style="padding-top: 50px" *ngIf="editComplaint === null">
  <div>
    <h3>{{complaints.title}}</h3>
    <p>{{complaints.description}}</p>
    <!-- <div class="image-container"> -->
      <div class="wrapper">
        <div  *ngFor="let pic of complaints.images">
          <img class="image" src="{{pic.imageUrl}}"/>
        </div>
      </div>
    </div>
    <br><br>
       <h4>Comments on this complaint:</h4>
       <ul *ngFor="let comment of complaints.comments">
          <li id="comment">{{comment.text}}</li>
     </ul>
     <button class="button" (click)="delete(complaints.id)"> Delete </button>
     <button class="button" (click)="setEdit()"> Update </button>
  </div>

<form id="editComplaint" *ngIf="editComplaint">
  Complaint: <input type="text" name="title" [(ngModel)]="editComplaint.title"><br>
  Description of Complaint: <input type="text" name="description" [(ngModel)]="editComplaint.description"><br>
  Complaint Resolved: <input type="checkbox" name="isResolved" [(ngModel)]="editComplaint.isResolved">
  Date Resolved: <input type="date" name="resolved" [(ngModel)]="editComplaint.resolved"><br>
  Details of Fixed Complaint: <input type="text" name="resolution" [(ngModel)]="editComplaint.resolution"><br>
  <button (click)=" updateComplaint(editComplaint)">Save</button>
  <button (click)="  editComplaint = null;">Cancel</button>
</form>
